{% load static %}
<header class="site-header">
    <a class="site-header-item site-header-logo" href="{% url 'home' %}">
        <img src="{% static 'app_general/logo.jpg' %}">
        <span>เกสต์เฮาส์บุปผาธารา</span>
    </a>
    <a class="site-header-item" href="{% url 'rooms' %}">ห้องพักทั้งหมด</a>
    <a class="site-header-item" href="{% url 'about' %}">เกี่ยวกับ</a>
    {% if user.is_authenticated %}
        <a class="site-header-item" href="#">{{ user.username }}</a>
    {% else %}
        <a class="site-header-item" href="{% url 'login' %}">เข้าสู่ระบบ</a>
        <a class="site-header-item" href="#">สมัครสมาชิก</a>
    {% endif %}
</header>